    
        .loginconatiner{
            width: 300px;
            height: 270px;
            background-color: rgb(188, 216, 206);
            
        }
        .navs{
            background-color: blue;
            width: 40%;
            height: 10%;
        }